# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Misc.
*.pdf
Builds/Android/.gradle/6.1.1/vcsMetadata-1/
Builds/Android/app/.cxx/cmake/debug_Debug/arm64-v8a/CMakeFiles/CMakeTmp/
Builds/Android/app/.cxx/cmake/debug_Debug/armeabi-v7a/CMakeFiles/CMakeTmp/
Builds/Android/app/.cxx/cmake/debug_Debug/armeabi-v7a/CMakeFiles/cpufeatures.dir/
Builds/Android/app/.cxx/cmake/debug_Debug/armeabi-v7a/CMakeFiles/juce_jni.dir/
Builds/Android/app/.cxx/cmake/debug_Debug/armeabi-v7a/oboe/CMakeFiles/
Builds/Android/app/.cxx/cmake/debug_Debug/x86/CMakeFiles/CMakeTmp/
Builds/Android/app/.cxx/cmake/debug_Debug/x86/CMakeFiles/cpufeatures.dir/
Builds/Android/app/.cxx/cmake/debug_Debug/x86/CMakeFiles/juce_jni.dir/
Builds/Android/app/.cxx/cmake/debug_Debug/x86/oboe/CMakeFiles/
Builds/Android/app/.cxx/cmake/debug_Debug/x86_64/CMakeFiles/CMakeTmp/
Builds/Android/app/.cxx/cmake/debug_Debug/x86_64/CMakeFiles/cpufeatures.dir/
Builds/Android/app/.cxx/cmake/debug_Debug/x86_64/CMakeFiles/juce_jni.dir/
Builds/Android/app/.cxx/cmake/debug_Debug/x86_64/oboe/CMakeFiles/
Builds/Android/app/.cxx/cmake/release_Release/arm64-v8a/CMakeFiles/CMakeTmp/
Builds/Android/app/.cxx/cmake/release_Release/arm64-v8a/CMakeFiles/cpufeatures.dir/
Builds/Android/app/.cxx/cmake/release_Release/arm64-v8a/CMakeFiles/juce_jni.dir/
Builds/Android/app/.cxx/cmake/release_Release/arm64-v8a/oboe/CMakeFiles/
Builds/Android/app/.cxx/cmake/release_Release/armeabi-v7a/CMakeFiles/CMakeTmp/
Builds/Android/app/.cxx/cmake/release_Release/armeabi-v7a/CMakeFiles/cpufeatures.dir/
Builds/Android/app/.cxx/cmake/release_Release/armeabi-v7a/CMakeFiles/juce_jni.dir/
Builds/Android/app/.cxx/cmake/release_Release/armeabi-v7a/oboe/CMakeFiles/
Builds/Android/app/.cxx/cmake/release_Release/x86/CMakeFiles/CMakeTmp/
Builds/Android/app/.cxx/cmake/release_Release/x86/CMakeFiles/cpufeatures.dir/
Builds/Android/app/.cxx/cmake/release_Release/x86/CMakeFiles/juce_jni.dir/
Builds/Android/app/.cxx/cmake/release_Release/x86/oboe/CMakeFiles/
Builds/Android/app/.cxx/cmake/release_Release/x86_64/CMakeFiles/CMakeTmp/
Builds/Android/app/.cxx/cmake/release_Release/x86_64/CMakeFiles/cpufeatures.dir/
Builds/Android/app/.cxx/cmake/release_Release/x86_64/CMakeFiles/juce_jni.dir/
Builds/Android/app/.cxx/cmake/release_Release/x86_64/oboe/CMakeFiles/
Builds/Android/app/libs/
Builds/Android/app/src/debug/res/raw/
Builds/Android/app/src/release/res/raw/
Builds/CLion/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/tmp/
Builds/CLion/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/tmp/
Builds/CLion/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/tmp/
Builds/CLion/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/tmp/
Builds/CLion/cmake-build-debug/CMakeFiles/AU.dir/Users/
Builds/CLion/cmake-build-debug/CMakeFiles/CMakeTmp/
Builds/CLion/cmake-build-debug/ap_sampler 2.vst3/Contents/MacOS/
Builds/CLion/cmake-build-debug/ap_sampler 5.vst3/Contents/MacOS/
Builds/CLion/cmake-build-debug/ap_sampler.component/Contents/MacOS/
Builds/CLion/cmake-build-debug/ap_sampler.component/Contents/Resources/
Plugin/CMakeFiles/3.17.3/CompilerIdC/tmp/
Plugin/CMakeFiles/3.17.3/CompilerIdCXX/tmp/
Plugin/CMakeFiles/AU.dir/Users/
Plugin/CMakeFiles/CMakeTmp/
Plugin/CMakeFiles/SHARED_CODE.dir/Users/
Plugin/CMakeFiles/STANDALONE_PLUGIN.dir/Users/
Plugin/CMakeFiles/VST3.dir/Users/
Plugin/ap_sampler.component/Contents/MacOS/
Plugin/ap_sampler.component/Contents/Resources/
Plugin/ap_sampler.vst3/Contents/MacOS/
!/Builds/
